/* body {
  background-color: #041c32;
  color: #d1d1d1;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
} */
body {
  background-image: linear-gradient(to bottom right, #041c32, #392042 90%);
  /* background-size: 400% 400%; */
  /* animation: gradient 20s ease infinite; */
  height: 100vh;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: #d1d1d1;
}

div {
  padding-top: 100px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

hr {
  border-color: #727a8a;
  border-style: none;
  border-top-style: solid;
  border-width: 2px;
  width: 20%;
}

a {
  color: #ecb365;
  text-transform: uppercase;
  font-weight: bold;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

h1 {
  color: white;
}

a:hover {
  color: white;
}

b {
  color: #ecb365;
}

#bullet {
  color: #ecb365
}

svg {
  width: 24px;
  height: 24px;
  fill: white;
}

svg:hover {
  fill: #ecb365;
}


.box {
}

/* .box h1 {
  display: flex;
  align-items: center;
  gap: 2px;
} */

@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
}

.box h1::after {
  content: "";
  width: 5px;
  height: 30px;
  background: #ec7fff;
  display: inline-block;
  animation: cursor-blink 1.5s steps(2) infinite;
}
